<div id="<%= dom_id teacher_cv %>">
  <p>
    <strong>Name:</strong>
    <%= teacher_cv.name %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= teacher_cv.experience %>
  </p>

  <p>
    <strong>Certifications:</strong>
    <%= teacher_cv.certifications %>
  </p>
</div>
