<h1>Editing teacher cv</h1>

<%= render "form", teacher_cv: @teacher_cv %>

<br>

<div>
  <%= link_to "Show this teacher cv", @teacher_cv %> |
  <%= link_to "Back to teacher cvs", teacher_cvs_path %>
</div>
