<h1>Editing yoga style</h1>

<%= render "form", yoga_style: @yoga_style %>

<br>

<div>
  <%= link_to "Show this yoga style", @yoga_style %> |
  <%= link_to "Back to yoga styles", yoga_styles_path %>
</div>
