<div id="<%= dom_id corporate_offer %>">
  <p>
    <strong>Title:</strong>
    <%= corporate_offer.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= corporate_offer.description %>
  </p>

</div>
