<h1>Editing corporate offer</h1>

<%= render "form", corporate_offer: @corporate_offer %>

<br>

<div>
  <%= link_to "Show this corporate offer", @corporate_offer %> |
  <%= link_to "Back to corporate offers", corporate_offers_path %>
</div>
