<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <% if @home_page.present? %>
        <h1 class="text-center"><%= @home_page.title %></h1>

        <div class="content mt-4">
          <%= sanitize @home_page.content.html_safe %>
        </div>
      <% else %>
        <p class="text-center">No content available</p>
      <% end %>

      <% if user_signed_in? %>
        <div class="text-center mt-4">
          <%= link_to 'Add/Update Content', new_home_page_path, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
