<div id="<%= dom_id offered_format %>">
  <p>
    <strong>Title:</strong>
    <%= offered_format.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= offered_format.description %>
  </p>

</div>
