<h1>Editing offered format</h1>

<%= render "form", offered_format: @offered_format %>

<br>

<div>
  <%= link_to "Show this offered format", @offered_format %> |
  <%= link_to "Back to offered formats", offered_formats_path %>
</div>
